#headimg {
	background-color: skyblue;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#leftimg {
	display: inline-block;
	background-color: aliceblue;
	width: 120px;
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
